* {
    box-sizing: border-box;
    font-style: italic;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*color pallet*/
:root {
    --purple: rgb(76, 45, 96);
    --yellow: rgb(0, 0, 0);
    --blue: rgb(12, 123, 137);
    --red: rgb(143, 47, 47);
    --white: white;
}


body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    background-image: url("../images/hogwarts.jpg");
}

.time-left {
    position:absolute;
    top: 0;
    right: 0;
    padding: 30px 30px;
}

#container {
    border-radius: 8px;
    padding: 2rem 4rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hide {
    display: none;
}

.btn {
    background-color: var(--blue);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .4);
    padding: 4px;
    color: var(--white);
}